{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

<div class="content">
                <div class="row">
                    <div class="col-md-6">
                            <div class="card-header">
                                <strong class="card-title">Data Table</strong>
                                <div class="container">
                                        {{form(form)}}
                                </div>
                            </div>
                        
                    </div>
                </div>
</div>
{% endblock %}